<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Voting</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Click to choose the better of these two images</h1>
    <div class="image-container">
        <img src="{{img1}}" alt="Image 1" id="image1" data-name="{{img1_name}}" class="voting-image">
        <img src="{{img2}}" alt="Image 2" id="image2" data-name="{{img2_name}}" class="voting-image">
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
